### Importação dos dados

In [32]:
import pandas as pd

url = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science/refs/heads/main/base-de-dados-challenge-1/loja_1.csv"
url2 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science/refs/heads/main/base-de-dados-challenge-1/loja_2.csv"
url3 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science/refs/heads/main/base-de-dados-challenge-1/loja_3.csv"
url4 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science/refs/heads/main/base-de-dados-challenge-1/loja_4.csv"

loja1 = pd.read_csv(url)
loja2 = pd.read_csv(url2)
loja3 = pd.read_csv(url3)
loja4 = pd.read_csv(url4)

In [33]:
print("Loja 1")

loja1.head()

Loja 1

,Produto,Categoria do Produto,Preço,Frete,Data da Compra,Vendedor,Local da compra,Avaliação da compra,Tipo de pagamento,Quantidade de parcelas,lat,lon
0,Assistente virtual,eletronicos,219.08,9.249790,16/01/2021,Pedro Gomes,SP,4,cartao_credito,8,-22.19,-48.79
1,Mesa de jantar,moveis,256.35,11.234305,18/05/2022,Beatriz Moraes,RJ,1,cartao_credito,4,-22.25,-42.66
2,Jogo de tabuleiro,brinquedos,279.51,21.262681,15/03/2021,João Souza,DF,1,cartao_credito,1,-15.83,-47.86
3,Micro-ondas,eletrodomesticos,1009.99,54.667344,03/05/2022,João Souza,RS,4,boleto,1,-30.17,-53.50
4,Cadeira de escritório,moveis,446.99,26.964689,07/11/2020,Larissa Alves,MG,5,boleto,1,-18.10,-44.38

#1. Análise do faturamento

In [67]:
from typing import Any

In [68]:
def sumRevenue(values_price:pd.Series) -> float:
  revenue = 0.0

  for product_price in list(values_price):
    revenue = revenue + product_price

  return revenue

In [69]:
revenue1 = sumRevenue(loja1.Preço)
revenue1 = round(revenue1 + sumRevenue(loja1.Frete),2)

print(f"Faturamento Loja 1: R${revenue1}\n")

revenue2 = sumRevenue(loja2.Preço)
revenue2 = round(revenue2 + sumRevenue(loja2.Frete),2)

print(f"Faturamento Loja 2: R${revenue2}\n")

revenue3 = sumRevenue(loja3.Preço)
revenue3 = round(revenue3 + sumRevenue(loja3.Frete),2)

print(f"Faturamento Loja 3: R${revenue3}\n")

revenue4 = sumRevenue(loja4.Preço)
revenue4 = round(revenue4 + sumRevenue(loja4.Frete),2)

print(f"Faturamento Loja 4: R${revenue4}\n")

Faturamento Loja 1: R$1616347.09

Faturamento Loja 2: R$1567773.22

Faturamento Loja 3: R$1542047.69

Faturamento Loja 4: R$1458253.46

# 2. Vendas por Categoria

In [39]:
types_of_products = list(loja1['Categoria do Produto'].drop_duplicates())
types_of_products.sort()

price_to_types_products = [0 for _ in range(len(types_of_products))]
sum_prices_to_types_products = [[type, sum_price] for type, sum_price in zip(types_of_products, price_to_types_products)]

#----

# Agrupa por 'Categoria do Produto' e soma os preços
sum_prices_by_category = loja1.groupby('Categoria do Produto')['Preço'].sum().reset_index()

# Ordena por categoria (opcional)
sum_prices_by_category = sum_prices_by_category.sort_values(by=['Categoria do Produto'])

# Exibe os resultados
print("Soma total por categoria:\n")
print(sum_prices_by_category)

Soma total por categoria:

    Categoria do Produto      Preço
0             brinquedos   23993.78
1       eletrodomesticos  484913.36
2            eletronicos  572659.23
3        esporte e lazer   52387.55
4  instrumentos musicais  121731.69
5                 livros   11713.92
6                 moveis  250178.11
7  utilidades domesticas   16931.48

In [71]:
def getSumValuesOfProductsToCategory(types_of_products: list, sum_prices_to_types_products: list[list[Any]], loja: pd.DataFrame) -> list[list[Any]]:
  for j in range(len(types_of_products)):
    for i in range(len(loja.Preço)):
      if loja['Categoria do Produto'][i] == types_of_products[j]:
        sum_prices_to_types_products[j][1] = sum_prices_to_types_products[j][1] + loja.Preço[i]

  for i in range(len(types_of_products)):
    value = sum_prices_to_types_products[i][1]
    value = float(value)
    sum_prices_to_types_products[i][1] = round(value, 2)

  return sum_prices_to_types_products

In [ ]:
print("Soma total por categoria:\n")

for i in range(0,4):
  if i == 0:
    values = getSumValuesOfProductsToCategory(types_of_products, sum_prices_to_types_products, loja1)

  if i == 1:
    values = getSumValuesOfProductsToCategory(types_of_products, sum_prices_to_types_products, loja2)

  if i == 2:
    values = getSumValuesOfProductsToCategory(types_of_products, sum_prices_to_types_products, loja3)

  if i == 3:
    values = getSumValuesOfProductsToCategory(types_of_products, sum_prices_to_types_products, loja4)

  print(f"{types_of_products[i]} - R${sum_prices_to_types_products[i][1]}\n")

  for i in range(len(sum_prices_to_types_products)):
    sum_prices_to_types_products[i][1] = 0

In [37]:
 print("Soma total por categoria:\n")

sum = 0.0

#get keys of column 'Categoria..'
type_product = list(loja1['Categoria do Produto'].drop_duplicates())

for

# for i in range(0,4):
#   if i == 0:
#     sum = getSumValuesOfProductsToCategory(types_of_products, sum_prices_to_types_products, loja1)

#   if i == 1:
#     sum = getSumValuesOfProductsToCategory(types_of_products, sum_prices_to_types_products, loja2)

#   if i == 2:
#     sum = getSumValuesOfProductsToCategory(types_of_products, sum_prices_to_types_products, loja3)

#   if i == 3:
#     sum = getSumValuesOfProductsToCategory(types_of_products, sum_prices_to_types_products, loja4)

#   print(f"{types_of_products[i]} - R${sum_prices_to_types_products[i][1]}\n")

#   for i in range(len(sum_prices_to_types_products)):
#     sum_prices_to_types_products[i][1] = 0

Soma total por categoria:

['eletronicos', 'moveis', 'brinquedos', 'eletrodomesticos', 'utilidades domesticas', 'esporte e lazer', 'livros', 'instrumentos musicais']

# 3. Média de Avaliação das Lojas

In [27]:
print("Média das avaliações cada Loja:\n")

average = 0.0

for i in range(0,4):
  if i == 0:
    average = loja1['Avaliação da compra'].mean().round(2)

  if i == 1:
    average = loja2['Avaliação da compra'].mean().round(2)

  if i == 2:
    average = loja3['Avaliação da compra'].mean().round(2)

  if i == 3:
    average = loja4['Avaliação da compra'].mean().round(2)

  print(f"Loja {i+1} - Avaliação média é {average}\n")

Média das avaliações cada Loja:

Loja 1 - Avaliação média é 3.98

Loja 2 - Avaliação média é 4.04

Loja 3 - Avaliação média é 4.05

Loja 4 - Avaliação média é 4.0

# 4. Produtos Mais e Menos Vendidos

In [21]:
print("Produto mais vendido e menos vendido de cada Loja:\n")

best_selling_product = ''
quantity_best_selling_product = 0
worst_selling_product = ''
quantity_worst_selling_product = 0

for i in range(0,4):
  if i == 0:
    best_selling_product = loja1['Produto'].value_counts().index[0]
    quantity_best_selling_product = loja1['Produto'].value_counts().iloc[0]
    worst_selling_product = loja1['Produto'].value_counts().index[-1]
    quantity_worst_selling_product = loja1['Produto'].value_counts().iloc[-1]

  if i == 1:
    best_selling_product = loja2['Produto'].value_counts().index[0]
    quantity_best_selling_product = loja2['Produto'].value_counts().iloc[0]
    worst_selling_product = loja2['Produto'].value_counts().index[-1]
    quantity_worst_selling_product = loja2['Produto'].value_counts().iloc[-1]

  if i == 2:
    best_selling_product = loja3['Produto'].value_counts().index[0]
    quantity_best_selling_product = loja3['Produto'].value_counts().iloc[0]
    worst_selling_product = loja3['Produto'].value_counts().index[-1]
    quantity_worst_selling_product = loja3['Produto'].value_counts().iloc[-1]

  if i == 3:
    best_selling_product = loja4['Produto'].value_counts().index[0]
    quantity_best_selling_product = loja4['Produto'].value_counts().iloc[0]
    worst_selling_product = loja4['Produto'].value_counts().index[-1]
    quantity_worst_selling_product = loja4['Produto'].value_counts().iloc[-1]

  print(f"Loja {i+1} - Produto mais vendido '{best_selling_product}' com {quantity_best_selling_product} vendas \n\t Produto menos vendido '{worst_selling_product}' com {quantity_worst_selling_product} vendas\n")

Produto mais vendido e menos vendido de cada Loja:

Loja 1 - Produto mais vendido 'Micro-ondas' com 60 vendas
	 Produto menos vendido 'Celular ABXY' com 33 vendas

Loja 2 - Produto mais vendido 'Iniciando em programação' com 65 vendas
	 Produto menos vendido 'Jogo de tabuleiro' com 32 vendas

Loja 3 - Produto mais vendido 'Kit banquetas' com 57 vendas
	 Produto menos vendido 'Blocos de montar' com 35 vendas

Loja 4 - Produto mais vendido 'Cama box' com 62 vendas
	 Produto menos vendido 'Guitarra' com 33 vendas

# 5. Frete Médio por Loja

In [26]:
print("Média de frete de cada Loja:\n")

average = 0.0

for i in range(0,4):
  if i == 0:
    average = loja1['Frete'].mean().round(2)

  if i == 1:
    average = loja2['Frete'].mean().round(2)

  if i == 2:
    average = loja3['Frete'].mean().round(2)

  if i == 3:
    average = loja4['Frete'].mean().round(2)

  print(f"Loja {i+1} - Frete médio é {average}\n")

Média de frete de cada Loja:

Loja 1 - Frete médio é 34.69

Loja 2 - Frete médio é 33.62

Loja 3 - Frete médio é 33.07

Loja 4 - Frete médio é 31.28